.codeblock {
  background-color: rgba(32,32,32,1);/*背景颜色*/
  color: rgba(240,240,240,1);/*字体颜色*/
  max-width: 100%;/*最大宽度*/
  margin: 20px;/*外边距*/
  padding: 20px;/*内边距*/
  font-size: 15px;/*字体大小*/
  line-height: 1.5;/*行间距*/
  overflow: scroll;/*溢出显示方式*/
  display: block;/*显示类型*/
  page-break-inside: avoid;/*避免在元素内部进行页面断点*/
  word-wrap: break-word;/*允许单词内部断行*/
}

code {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

